<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="Style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul type="none">
          <li><a href="/">Home</a></li>
          <li><a href="#">Mise à jour</a></li>
          <li><a href="#">Etat</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="div_btn">
        <button id="Std_btn" class="btn">Student</button>
        <button id="Mdl_btn" class="btn">Modules</button>
        <button id="Exm_btn" class="btn">Exam</button>
      </div>
    </main>

    <script src="new-meet.js"></script>
  </body>
</html>
